<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Online interactive calendar for sports fans">
    <meta name="keywords" content="calendar, sport, football, basketball, tennis">

    <link rel="stylesheet" href="/assets/css/style.css">

    <title>Sport Events Details</title>
</head>
<body>
    <header>
        <nav id="navbar">
            <a href="index.html"><h1>Sports calendar</h1></a>
            <ul id="navbar-list">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Add event</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="event-details-local-date"></div>
        <div id="event-details-container">
            <div id="event-details-game-status"></div>
            <div id="event-details-competition"></div>
            <div id="event-details-game-score">
                <div id="event-details-home-team"></div>
                <span>-</span>
                <div id="event-details-away-team"></div>
            </div>
            <div id="event-details-goals-section">
                <div id="event-details-goals"></div>
                <div id="event-details-goal-scorers"></div>
            </div>
        </div>
    </main>

    <script type="module" src="/assets/js/event-details.js"></script>
</body>
</html>