/* Generic rules */
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Header */
#navbar {
    display: flex;
    justify-content: space-between;
}

#navbar-list {
    display: flex;
    align-items: center;
}

#navbar-list > li {
    padding: 0 1rem;
}

/* Calendar */
#calendar-container {
    margin-top: 1rem;
    max-width: 700px;
}

#month-header {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
}

#calendar-navigation button:hover {
    cursor: pointer;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    padding: 1rem;
}

.calendar-day {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 
}

.today {
    font-weight: 700;
}

.last-month-day,
.next-month-day {
    color: grey;
}