/* Generic rules */
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.hide {
    display: none;
}

/* Header */
#navbar {
    display: flex;
    justify-content: space-between;
}

#navbar-list {
    display: flex;
    align-items: center;
}

#navbar-list > li {
    padding: 0 1rem;
}

/* Calendar */
#calendar-container {
    margin-top: 1rem;
    max-width: 700px;
}

#month-header {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
}

#calendar-navigation button:hover {
    cursor: pointer;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    padding: 1rem;
}

.calendar-day {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 
}

.today {
    font-weight: 700;
}

.last-month-day,
.next-month-day {
    color: grey;
}

.calendar-day:hover {
    cursor: pointer;
}

/* Events summary */
.summary-event {
    margin: 1rem 0;
}

/* Event details */
#event-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 1rem 5rem;
    box-shadow: 0px 0px 6px -1px rgba(69, 73, 81, 0.6);
}

#event-details-container > * {
    padding: 0.5rem;
}

#event-details-local-date {
    margin-top: 2rem;
    font-size: 1.3rem;
}

#event-details-game-score {
    display: flex;
}

#event-details-competition-stage {
    text-transform: capitalize;
}

#event-details-home-team {
    padding-right: 0.5rem;
}

#event-details-away-team {
    padding-left: 0.5rem;
}

/* Add event form */
#add-event-form {
    display: flex;
    flex-direction: column;
}

#add-event-form > * {
    padding: 0.5rem;
}

.form-element {
    display: flex;
    flex-direction: column;
}
